{
  "type": "service_account",
  "project_id": "[REDACTED]",
  "private_key_id": "1378f[REDACTED]0eb2",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMI[REDACTED]v2fE=\n-----END PRIVATE KEY-----\n",
  "client_email": "46[REDACTED]89-compute@developer.gserviceaccount.com",
  "client_id": "1157[REDACTED]7232",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/46[REDACTED]89-compute%40developer.gserviceaccount.com"
}

